---
layout: default
title: Games
---
<h1>Released Games</h1>

<p>These are the games I've worked on that have seen a proper release in some form.</p>

<div class="posts">
  {% for post in site.posts %}
  {% if post.category == 'released' %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }} </span>

    {% if post.image %}
    <img src="{{ site.baseurl }}/assets/{{ post.image }}">
    {% endif %}
    {{ post.excerpt }}

    <a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
  </div>
  {% endif %}
  {% endfor %}
</div>

<h1>Game Jams</h1>

<p>I love doing game jams. I think they are the best way to hone and practice game creation.</p>

<div class="posts">
  {% for post in site.posts %}
  {% if post.category == 'gamejam' %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }} </span>

    {% if post.image %}
    <img src="{{ site.baseurl }}/assets/{{ post.image }}">
    {% endif %}
    {{ post.excerpt }}

    <a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
  </div>
  {% endif %}
  {% endfor %}
</div>

<h1>Other Games</h1>

<p>These games don't fall into the lists above. They range from personal projects to class room assignments.</p>

<div class="posts">
  {% for post in site.posts %}
  {% if post.category == 'game' %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }} </span>

    {% if post.image %}
    <img src="{{ site.baseurl }}/assets/{{ post.image }}">
    {% endif %}
    {{ post.excerpt }}

    <a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
  </div>
  {% endif %}
  {% endfor %}
</div>
