---
layout: default
title: Games
---
<h1>{{ page.title }}</h1>

<p> Here are all the games I've ever created. It's a mixture of game jams, class work, and commercial releases. All of my games have links to where you can play them. Feel free to <a href="{{ site.baseurl }}/contact">contact me</a> if you have any questions or want to possibly colaborate on a project. </p>

<div class="posts">
  {% for post in site.posts %}
  {% if post.category == 'game' %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }} </span>

    {% if post.image %}
    <img src="{{ site.baseurl }}/assets/{{ post.image }}">
    {% endif %}
    {{ post.excerpt }}

    <a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
  </div>
  {% endif %}
  {% endfor %}
</div>
