---
layout: default
title: Home
---
<div class="posts">
  <!-- Games -->
  <h1>Latest Games</h1>
  {% for post in site.posts %}
  {% if post.category == 'game' %}
  {% capture counttwo %}{{ counttwo | plus: '1' }}{% endcapture %}
  {% if counttwo == '1' or counttwo == '2' %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }} </span>

    {% if post.image %}
    <img src="{{ site.baseurl }}/assets/{{ post.image }}">
    {% endif %}
    {{ post.excerpt }}

    <a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
  </div>
  {% endif %}
  {% endif %}
  {% endfor %}
  <h3><a href="{{ site.baseurl }}/games/">More Games</a></h3>
  <!-- Music -->
  <h1>Latest Music</h1>
  <div class="post">
  <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/7355881&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  </div>
  <!-- Blog -->
  <h1>Latest Posts</h1>
  {% for post in site.posts %}
  {% if post.category != 'game' %}
  {% capture count %}{{ count | plus: '1' }}{% endcapture %}
  {% if count == '1' or count == '2' %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h2>

    <span class="post-date">{{ post.date | date_to_string }} </span>

    {% if post.image %}
    <img src="{{ site.baseurl }}/assets/{{ post.image }}">
    {% endif %}
    {{ post.excerpt }}

    <a href="{{ site.baseurl }}{{ post.url }}">Read More</a>
  </div>
  {% endif %}
  {% endif %}
  {% endfor %}
  <h3><a href="{{ site.baseurl }}/blog/">More Posts</a></h3>
</div>
