<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img class="logo" src="{{ site.baseurl }}/assets/logo.svg">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      <a class="sidebar-nav-item{% if page.url == site.baseurl/about %} active{% endif %}" href="{{site.baseurl }}/about">About</a>

      <a class="sidebar-nav-item{% if page.url == site.baseurl/games %} active{% endif %}" href="{{site.baseurl }}/games">Games</a>

      <a class="sidebar-nav-item{% if page.url == site.baseurl/music %} active{% endif %}" href="{{site.baseurl }}/music">Music</a>

      <a class="sidebar-nav-item{% if page.url == site.baseurl/blog %} active{% endif %}" href="{{site.baseurl }}/blog">Blog</a>

      <a class="sidebar-nav-item{% if page.url == site.baseurl/contact %} active{% endif %}" href="{{site.baseurl }}/contact">Contact Me</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl}}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% endcomment %}
    </nav>

    <div class="social">
      <a href="https://twitter.com/Cxsquared" target="_blank"><img src="{{ site.baseurl }}/assets/icons/Twitter.png"></a>
      <a href="https://github.com/cxsquared" target="_blank"><img src="{{ site.baseurl }}/assets/icons/Github.png"></a>
      <a href="https://www.linkedin.com/in/cxsquared" target="_blank"><img src="{{ site.baseurl }}/assets/icons/LinkedIn.png"></a>
    </div>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
